In [1]:
import pandas as pd
import numpy as np
#from sklearn.preprocessing import Binarizer
#from sklearn.preprocessing import LabelBinarizer

#pd.set_option('display.max_rows', None)

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [3]:
# Read csv file
census_input = pd.read_csv('adult.input')

In [4]:
# Display dataframe
census_input

,age,type_employer,fnlwgt,education,education_num,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hr_per_week,country,income
0,24,Private,176189,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
1,30,Private,161690,Assoc-voc,11,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
2,60,Private,145493,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
3,42,Private,144995,Preschool,1,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,25,United-States,<=50K
4,23,Private,50341,Masters,14,Never-married,Sales,Not-in-family,White,Female,0,0,20,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,35,Self-emp-not-inc,198841,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
3996,35,Private,143589,Bachelors,13,Married-spouse-absent,Prof-specialty,Not-in-family,Asian-Pac-Islander,Female,0,0,40,Philippines,<=50K
3997,36,Private,204590,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,0,213,40,United-States,<=50K
3998,21,Private,143604,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
3999,50,Private,99925,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,32,United-States,<=50K

In [ ]:
census_input.shape

In [ ]:
census_input.columns

In [ ]:
# Remove fnlwgt, education, and relationship
census_input_subset = census_input [['age', 'type_employer', 'education_num',
       'marital', 'occupation', 'race', 'sex', 'capital_gain',
       'capital_loss', 'hr_per_week', 'country', 'income']]
census_input_subset

In [ ]:
# Check for missing values
census_input_subset.isna().sum()

In [ ]:
census_input_subset.describe(include=["O"])

In [ ]:
# Replacw ? in dataset with NaN values
census_input_subset = census_input_subset.replace('?', np.nan )

In [ ]:
# Drop the rows that have NaN values
census_input_subset = census_input_subset.dropna()

In [ ]:
# Resetting the indices using df.reset_index()
census_input_subset = census_input_subset.reset_index(drop=True)

In [ ]:
census_input_subset

In [ ]:
# Check for data types
census_input_subset.dtypes

In [ ]:
# Display histograms to explore data
census_input_subset.hist(bins=60, figsize=(20,10))

In [ ]:
census_input_subset['education_num'].value_counts()

In [ ]:
# Binarization of capital_gain and capital losses
#cg = census_input_subset.iloc[:, 7].values
#cg = census_input_subset['capital_gain'].values
#cg = cg.reshape (1, -1)

#cl = census_input_subset.iloc[:, 8].values
#cl = census_input_subset['capital_loss'].values
#cl = cl.reshape (1, -1)

# capital-gain (yes:>0, no:=0) threshold=1
#cg_bin = Binarizer(threshold = 1)
# capital-loss (yes:>0, no:=0) threshold=1
#cl_bin = Binarizer(threshold = 1)

#capitalGain = cg_bin.fit_transform(cg)
#capitalLoss = cg_bin.fit_transform(cl)
#print(capitalGain)
#print(capitalLoss)
#x=cg_bin.fit_transform(cg)
#print(cg_bin.fit_transform(cl))
#print(x)

In [ ]:
census_input_sub = census_input_subset [['age', 'type_employer', 'education_num',
       'marital', 'occupation', 'race', 'sex', 'capital_gain',
       'capital_loss', 'hr_per_week', 'country', 'income']]
census_input_sub

In [ ]:
# Binarize capital_gain
census_input_sub['capital_gain_bin'] = census_input_sub['capital_gain'].astype('bool')
print(census_input_sub['capital_gain_bin'])
print(census_input_sub['capital_gain'])

In [ ]:
# Binarize capital_loss
census_input_sub['capital_loss_bin'] = census_input_sub['capital_loss'].astype('bool')
print(census_input_sub['capital_loss_bin'])
print(census_input_sub['capital_loss'])
census_input_sub['capital_loss_bin'].value_counts()

In [ ]:
census_input_sub['capital_gain_bin'].value_counts()

In [ ]:
census_input_sub

In [ ]:
# Factorize country
countries = pd.get_dummies(census_input_sub['country'])
countries

In [ ]:
# Assign the value 1 for United State
United_States = countries['United-States']
print(United_States)

In [ ]:
# Create a new column for binarized country where 1 is for United States and 0 for other
census_input_sub['country_bin'] = United_States
census_input_sub

In [ ]:
# Factorize sex and assing the value 1 for female
sex = pd.get_dummies(census_input_sub['sex'])
female = sex['Female']

# Create a new column for binarized sex where female is 1 and males is 0
census_input_sub['sex_bin'] = female

In [ ]:
# Discretize age into 4 different bins
bins = [0, 25, 45, 65, 90]
census_input_sub['age_dis'] = pd.cut(census_input_sub['age'], bins, labels = ['young', 'adult', 'senior', 'old'], include_lowest = True)

print(census_input_sub['age'])
print(census_input_sub['age_dis'])

In [ ]:
# Convert age into asymetric binary attributes
age = pd.get_dummies(census_input_sub['age_dis'])
age

In [ ]:
# Create a new column for discretized age and drop the old column for age
census_input_sub = pd.concat([census_input_sub.drop(['age_dis'],axis=1), age],axis=1)

In [ ]:
bins = [0, 39, 40, 70]
census_input_sub['hr_per_week_dis'] = pd.cut(census_input_sub['hr_per_week'], bins, labels = ['part-time', 'full-time', 'over-time'], include_lowest = True)

print(census_input_sub['hr_per_week'])
print(census_input_sub['hr_per_week_dis'])

In [ ]:
# Discretize hr_per_week into 3 different bins
hr_per_week = pd.get_dummies(census_input_sub['hr_per_week_dis'])
hr_per_week

In [ ]:
# Create a new column for discretized hr_per_week and drop the old column for hr_per_week
census_input_sub = pd.concat([census_input_sub.drop(['hr_per_week_dis'],axis=1), hr_per_week],axis=1)

In [ ]:
# Check for possible valus for race
census_input_sub['race'].value_counts()

In [ ]:
# Factorize race to convert it into asymetric binary attributes
race = pd.get_dummies(census_input_sub['race'])
race

In [ ]:
# Create a new columns race and drop the old categorical column
census_input_sub = pd.concat([census_input_sub.drop(['race'],axis=1), race],axis=1)

In [ ]:
census_input_sub

In [ ]:
# creating a blank series
Not_married = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_input_sub)):
    if census_input_sub["marital"][i] == "Married-spouse-absent":
        Not_married[i] = 1
 
    elif census_input_sub["marital"][i] == "Separated":
        Not_married[i] = 1
 
    elif census_input_sub["marital"][i] == "Divorced":
        Not_married[i] = 1
        
    elif census_input_sub["marital"][i] == "Widowed":
        Not_married[i]= 1
 
    else:
        Not_married[i] = 0
         
# inserting new column with values of list made above       
census_input_sub.insert(2, "not-married", Not_married)
 
# list output
census_input_sub

In [ ]:
# creating a blank series
Married = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_input_sub)):
    if census_input_sub["marital"][i] == "Married-AF-spouse":
        Married[i] = 1
 
    elif census_input_sub["marital"][i] == "Married-civ-spouse":
        Married[i] = 1
 
    else:
        Married[i] = 0
         
# inserting new column with values of list made above       
census_input_sub.insert(2, "married", Married)
 
# list output
census_input_sub

In [ ]:
# creating a blank series
Never_married = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_input_sub)):
    if census_input_sub["marital"][i] == "Never-married":
        Never_married[i] = 1
 
    else:
        Never_married[i] = 0
         
# inserting new column with values of list made above       
census_input_sub.insert(2, "never_married", Never_married)
 
# list output
census_input_sub

In [ ]:
census_input_sub.drop(['capital_gain', 'capital_loss', 'country', 'sex', 'age', 'hr_per_week', 'marital'], axis=1)

In [ ]:
# creating a blank series
Gov = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_input_sub)):
    if census_input_sub["type_employer"][i] == "Federal-gov":
        Gov[i] = 1
 
    elif census_input_sub["type_employer"][i] == "Local-gov":
        Gov[i] = 1
 
    elif census_input_sub["type_employer"][i] == "State-gov":
        Gov[i] = 1
 
    else:
        Gov[i] = 0
         
# inserting new column with values of list made above       
census_input_sub.insert(2, "gov", Gov)
 
# list output
census_input_sub

In [ ]:
# creating a blank series
Not_working = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_input_sub)):
    if census_input_sub["type_employer"][i] == "Without-pay":
        Not_working[i] = 1
 
    elif census_input_sub["type_employer"][i] == "Never-worked":
        Not_working[i] = 1
 
    else:
        Not_working[i] = 0
         
# inserting new column with values of list made above       
census_input_sub.insert(2, "not_working", Not_working)
 
# list output
census_input_sub

In [ ]:
# creating a blank series
Private = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_input_sub)):
    if census_input_sub["type_employer"][i] == "Private":
        Private[i] = 1
 
    else:
        Private[i] = 0
         
# inserting new column with values of list made above       
census_input_sub.insert(2, "private", Private)
 
# list output
census_input_sub

In [ ]:
# creating a blank series
Self_employed = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_input_sub)):
    if census_input_sub["type_employer"][i] == "Self-emp-inc":
        Self_employed[i] = 1
 
    elif census_input_sub["type_employer"][i] == "Self-emp-not-inc":
        Self_employed[i] = 1
 
    else:
        Self_employed[i] = 0
         
# inserting new column with values of list made above       
census_input_sub.insert(2, "self_employed", Self_employed)
 
# list output
census_input_sub

In [ ]:
# creating a blank series
Other = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_input_sub)):
    if census_input_sub["occupation"][i] == "Tech-support":
        Other[i] = 1
 
    elif census_input_sub["occupation"][i] == "Adm-clerical":
        Other[i] = 1
 
    elif census_input_sub["occupation"][i] == "Priv-house-serv":
        Other[i] = 1
        
    elif census_input_sub["occupation"][i] == "Protective-serv":
        Other[i]= 1
 
    elif census_input_sub["occupation"][i] == "Armed-Forces":
        Other[i]= 1
        
    elif census_input_sub["occupation"][i] == "Other-service":
        Other[i]= 1

    else:
        Other[i] = 0
         
# inserting new column with values of list made above       
census_input_sub.insert(2, "other", Other)
 
# list output
census_input_sub

In [ ]:
# creating a blank series
Exec_managerial = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_input_sub)):
    if census_input_sub["occupation"][i] == "Exec-managerial":
        Exec_managerial[i] = 1
 
    else:
        Exec_managerial[i] = 0
         
# inserting new column with values of list made above       
census_input_sub.insert(2, "exec_managerial", Exec_managerial)
 
# list output
census_input_sub

In [ ]:
# creating a blank series
Prof_specialty = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_input_sub)):
    if census_input_sub["occupation"][i] == "Prof-specialty":
        Prof_specialty[i] = 1
 
    else:
        Prof_specialty[i] = 0
         
# inserting new column with values of list made above       
census_input_sub.insert(2, "prof_specialty", Prof_specialty)
 
# list output
census_input_sub

In [ ]:
# creating a blank series
Sales = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_input_sub)):
    if census_input_sub["occupation"][i] == "Sales":
        Sales[i] = 1
 
    else:
        Sales[i] = 0
         
# inserting new column with values of list made above       
census_input_sub.insert(2, "sales", Sales)
 
# list output
census_input_sub

In [ ]:
# creating a blank series
ManualWork = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_input_sub)):
    if census_input_sub["occupation"][i] == "Craft-repair":
        ManualWork[i] = 1
 
    elif census_input_sub["occupation"][i] == "Farming-fishing":
        ManualWork[i] = 1
 
    elif census_input_sub["occupation"][i] == "Handlers-cleaners":
        ManualWork[i] = 1
        
    elif census_input_sub["occupation"][i] == "Machine-op-inspct":
        ManualWork[i]= 1
 
    elif census_input_sub["occupation"][i] == "Transport-moving":
        ManualWork[i]= 1

    else:
        ManualWork[i] = 0
         
# inserting new column with values of list made above       
census_input_sub.insert(2, "manual_work", ManualWork)
 
# list output
census_input_sub

In [ ]:
# Display dataframe with all columns
pd.set_option('display.max_columns', None)

In [ ]:
# Factorize income
income = pd.get_dummies(census_input_sub['income'])
income

In [ ]:
# Assign the value 1 for income over 50K
over50k = income['>50K']
print(over50k)

In [ ]:
# Merge values in one binarized new income column where 1 is assigned for incomes over 50K
census_input_sub['income'] = over50k
census_input_sub

In [ ]:
# Factorize education_num in order to convert it into asymetric binary attributes
education_num = pd.get_dummies(census_input_sub['education_num'])
education_num

In [ ]:
# Concatenate new attributes into the dataframe and drop the old numerical attribute
census_input_sub = pd.concat([census_input_sub.drop(['education_num'],axis=1), education_num],axis=1)

In [ ]:
census_input_sub

In [ ]:
# shift column 'income' to last position
last_column = census_input_sub.pop('income')
  
# insert column using insert(position,column_name,last_column) function
census_input_sub.insert(53, 'income', last_column)

census_input_sub

In [ ]:
# Drop unnecessary categorical columns
census_input_s = census_input_sub.drop(['capital_gain', 'capital_loss', 'country', 'sex', 'age', 'hr_per_week', 'marital', 'type_employer','occupation'], axis=1)
census_input_s

In [ ]:
# Get dataframe size and dimentionality
shape = census_input_s.shape 


# printing size and dimentionality
print("Input data: {}".format(shape))

In [ ]:
# Reorder columns
#column_order = ['young', 'adult', 'senior', 'old',  'gov', 'not_working', 'private', 'self_employed', 1, 2, 3, 
                #4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,'married', 'never_married','not-married', 
                #'exec_managerial', 'prof_specialty', 'other','manual_work', 'sales', 'Black', 'White', 
                #'Amer-Indian-Eskimo', 'Asian-Pac-Islander', 'Other', 'sex_bin', 'capital_gain_bin', 
                #'capital_loss_bin', 'part-time', 'full-time', 'over-time', 'country_bin', 'income']
#census_input_s = census_input_s.reindex(columns=column_order)

In [ ]:
# Export cleaned and filtered dataframe
census_input_s.to_csv('adult.input-filtered.csv')